[submodule "servoy-eclipse"]
	path = servoy-eclipse
	url = https://github.com/Servoy/servoy-eclipse.git
	branch = release
[submodule "servoy-client"]
	path = servoy-client
	url = https://github.com/Servoy/servoy-client.git
	branch = release
[submodule "server"]
	path = server
	url = https://github.com/Servoy/server.git
	branch = release
[submodule "sablo"]
	path = sablo
	url = https://github.com/Servoy/sablo.git
	branch = release
[submodule "rhino"]
	path = rhino
	url = https://github.com/Servoy/rhino.git
	branch = 2026.03_servoy
